.container {
    position: absolute;
    top:60px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    height: 20px;	
    overflow: hidden;
    position: relative;
}


.container p {
    font-size: 0.8rem;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 20px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: container 15s linear infinite;
    -webkit-animation: container 15s linear infinite;
    animation: container 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes container {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes container {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes container {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }