.main {
    margin-top: 70px;
    text-align: center;
    padding: 50px;
}

.header {
    text-align: center;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
}

.header a {
    width: 200px;
    text-align: center;
    background-color: #541212;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}

.header a:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}
.header p {
    text-align: right;
}

.left {
    width: 100%;
    min-width: 300px;
    background-color: white;
    padding: 1rem 1.5rem;
    /* overflow: hidden; */
} 

.container {
    display: grid;
    grid-template-columns: 70% 30%
    ;
}

.right {
    position: sticky;
    height: 270px;
    margin: 0 1rem;
    padding: 1rem 1rem;
    /* border: 1px solid black; */
    background-color: #444;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    
}

td {
    text-align: center;
}

.quantity {
    text-align: center;
    width: 40px;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    padding: 0.1rem 0.5rem;
    margin: 0 0.5rem;
}

.noAvailable {
    height: 50px;
}

/* table, td,th {
    border: 1px solid black;
} */

.tableRemove {
    width: 20px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}
.VAT {
    display: flex;
    justify-content: space-between;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.checkout {
    border-radius: 0;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0.8rem;
    text-align: center;
    background-color:rgb(255, 255, 255);
    color: #666;
    
}

.promo {
    display: flex;
    justify-content: space-between;
}

.inputPromo {
    border: 0.5px solid black;
    text-align: center;
}

@media (max-width: 768px) {
    .main {
        margin-top: 50px;
        padding: 10px;
    }

    .header {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .table th, td, tr {
        font-size: 0.6rem;
    }

    .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .right {
       font-size: 0.6rem;
       height: 190px;

       width: 300px;
    }

    .right input {
        height: 18px;
    }
}

