.container {
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #7777;
    color: black;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
}