.container {
    position: fixed;
    top:0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.3rem 0.2rem 1.3rem;
    align-items: center;
    background-color: #541212;
    color: #EEEEEE;
    z-index: 2;
    
}

.iconCart {
    position: relative;
    right:10px;
    font-size: 1.3rem;
    vertical-align: bottom;
    color: #EEEEEE;
    cursor: pointer;
}
.counter {
    position: absolute;
    top: -8px;
    right: 0px;
    font-size: 0.7rem;
    background: #777;
    color: white;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.iconCall {
    font-size: 1.8rem;
    vertical-align: bottom;
    color: #000;
    background: #EEEEEE;
    border-radius: 50%;
    padding: 0.3rem;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.center a::after{
	content: '';
	width: 0;
	height: 2px;
	background: white;
    display: block;
    margin: auto;
    transition: 0.4s ease;
}

.center a:hover::after{
	width: 100%;
}

.right {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.leftDetails {
    display: flex;
    flex-flow: column wrap;
    gap: 0;
    margin-left: 0.4rem;
}

.center a {
    text-decoration: none;
    color: white;
}

.logo {
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

@media (max-width: 426px) {
    .left {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .leftDetails small {
        display: none;
    }

    .center a {
        width: 18px;
        margin: 0 .5rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 768px) {
    .center a {
        margin: 0 .5rem;
    }
}