@import url(https://fonts.google.com/specimen/Poppins?query=popp);
*  {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: .2s ease-in-out;
}

/* Add Task button */
button {
  margin: 0;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: inherit;
  text-decoration: none;
  background-color: rgba(174, 184, 192, 0.55);
  color: 2C3333;
  transition: background 350ms ease-in-out, 
              transform 150ms ease;
}

button:hover {
  background: #541212;
  /* background: #444444; */
  color: #E7F6F2;
  transition: .2s ease-in;
}

/* Responsive CSS */
@media (max-width: 320px) {
  .New-Task-Form {
    width: 280px;
  }
  .Task-Heading {
    font-size: 0.8rem;
  }
  .Task-Heading>button {
    width: 280px;
  }
  .Task-List-Container p{
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topnav>nav>ul{
    width: 300px;
  }
  .topnav>nav>ul>li>a{
    font-size: 0.7rem;
  }
  .Task-Container {
    margin-top: 70px;
  }
  .Task-Heading {
    font-size: 0.8rem;
  }
  .Edit-Task-Form {
    padding: 0.5rem 1rem;
  }
  .Edit-Task-Form-Body {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}

@media (max-height: 426px) {}