* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    /* height: 100vh; */
    /* position: relative; */
    margin-top: 60px;
    margin-bottom: 20px;
    /* text-align: center; */
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* text-align: center; */
}

.container h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.navigation {
    width: 80%;
    /* min-width: 300px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 1rem;
    /* background-color: black; */
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    background: #541212;
    color: #E7F6F2;
    transition: .2s ease-in;
    padding: 0.2rem 1rem;
    border-radius: 1.1rem;
}

.addNewItembtn {
    margin: 1rem 0;
}


@media (max-width: 426px) {
    
}

@media (max-width: 768px) {

}
